.cartPrincipal {
   display: flex;
   flex-direction: column;
   margin: auto;
   margin-top: 15px;
   margin-bottom: 15px;
   max-width: auto;
   align-items: center;
   
    

    
    
    
    
    
}

.cart {
       
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    text-align : center;
    justify-items: center; 
    margin-top: 15px;
    margin-bottom: 15px;   
}

.subCart{
   display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(150, 150, 150);
    border: 2px solid #000000;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    
}

.totalCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    padding: 10px;
}

.miniForm {
    margin: 5px;
}